.home-subcat-container {
	margin-top: 50px;
}
.home-subcat, .home-subdescrizione, .home-importo, .home-inserisci {
	display: none;
}

.btn-home-tile {
	padding: 22px 30px;
	border: 3px solid white;
}
.selected-tile {
	border-color: black;
}
.home-inserisci button {
	padding-top: 50px;
	padding-bottom: 50px; 
}

input.error, select.error {
	background-color: #ff0039;
}

.mouse-link {
	cursor: pointer;
}

#loading-page {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 150;
	background-color: rgb(0,0,0);
	background-image: url('../img/loading_bar.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	opacity: 0.8;
	bottom: 0px;
	top: 0px;
}

#elenco-spese-table td.data { width: 15%; text-align: center; }
#elenco-spese-table td.sottocategoria { width: 15%; text-transform: uppercase; }
#elenco-spese-table td.descrizione { width: 45% }
#elenco-spese-table td.importo { width: 10%; text-align: right; }
#elenco-spese-table td.modifica, #elenco-spese-tabella td.elimina, #elenco-spese-table td.categoria { width: 5%; text-align: center; }
