{% include '../header.html' %}

	<br /><br />
	<div class="row-fluid">
		<!-- LEFT PANEL -->
		<div class="span8" id="left-panel">
		
			<div class="row-fluid" id="left-panel-header">
				<div class="control-group span3">
					<label class="control-label" for="mese">Mese</label>
					<div class="controls">
					<select id="mese" class="input-medium" onchange="javascript:vsjs.changeMonth();">
						<option value="">Scegli</option>
						<option value="1">Gennaio</option>
						<option value="2">Febbraio</option>
						<option value="3">Marzo</option>
						<option value="4">Aprile</option>
						<option value="5">Maggio</option>
						<option value="6">Giugno</option>
						<option value="7">Luglio</option>
						<option value="8">Agosto</option>
						<option value="9">Settembre</option>
						<option value="10">Ottobre</option>
						<option value="11">Novembre</option>
						<option value="12">Dicembre</option>
					</select>
					</div>
				</div>			
				<div class="control-group span3">
					<label class="control-label" for="entrate">Entrate [€]</label>
					<div class="controls">
						<input type="text" id="entrate" name="entrate" class="input-small" value="0"/> 
						<a href="#" onclick="javascript:vsjs.setEntrate();"><i class="icon-refresh"></i></a>
					</div>
				</div>				
				<div class="control-group span3">
					<label class="control-label" for="uscite">Uscite [€]</label>
					<div class="controls">
						<input type="text" id="uscite" name="uscite" class="input-small" disabled/> 
					</div>
				</div>				
				<div class="control-group span3">
					<label class="control-label" for="saldo">Saldo [€]</label>
					<div class="controls">
						<input type="text" id="saldo" name="saldo" class="input-small" disabled/> 
					</div>
				</div>				
			</div>
			
			<div class="row-fluid" id="left-panel-tabella">
				<table class="table table-bordered table-striped table-hover">
					<thead>
					<tr>
						<th class="data">DATA</th>
						<th class="categoria">CAT</th>
						<th class="sottocategoria">S-CAT</th>
						<th class="descrizione">DESCRIZIONE</th>
						<th class="importo">IMPORTO</th>
						<th class="modifica">&nbsp;</th>
						<th class="elimina">&nbsp;</th>
					</tr>
					</thead>
						<tbody id="elenco-spese-table">
						</tbody>
				</table>
			</div>
		
		</div><!-- /.LEFT PANEL-->
		
		<!-- RIGHT PANEL -->
		<div class="span4" id="right-panel">
		
			<ul class="nav nav-tabs">
				<li class="active"><a class="mouse-link" onclick="javascript:vsjs.showChart(1);">Plot 1</a></li>
				<li class=""><a class="mouse-link" onclick="javascript:vsjs.showChart(2);">Plot 2</a></li>
			</ul>
		     
			<div class="row-fluid">
				<div class="span12" style="height:300px;" id="chart-div">
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12" style="height:300px;" id="chart-div2">
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modale Modifica Elemento -->
	<div class="modal hide fade" id="modale-modifica-spesa">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Modifica Elemento</h3>
		</div>
		<div class="modal-body">
			<form id="modifica-spesa-form" class="form-horizontal" action="javascript:vsjs.updateSpesa();">
				<div class="control-group">
					<label class="control-label" for="data">Data</label>
					<div class="controls">
						<input type="text" id="data" name="data" data-date="" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="categoria">Categoria</label>
					<div class="controls">
						<select id="categoria" name="categoria" onchange="javascript:vsjs.changeCategory();">
							<option value="">Scegli</option>
							<option value="casa">Casa</option>
							<option value="tempolibero">Tempo Libero</option>
							<option value="abbigliamento">Abbigliamento</option>
							<option value="alimentazione">Alimentazione</option>
							<option value="pagamenti">Pagamenti</option>
							<option value="macchina">Macchina</option>
							<option value="vacanze">Vacanze</option>
							<option value="altro">Altro</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="sottocategoria">Sotto Categoria</label>
					<div class="controls">
						<select id="sottocategoria" name="sottocategoria">
							<option value="">Scegli</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="descrizione">Descrizione</label>
					<div class="controls">
						<input type="text" name="descrizione" id="descrizione" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="importo">Importo</label>
					<div class="controls">
						<input type="text" name="importo" id="importo" />
					</div>
				</div>
			</form>

		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn">Annulla</a>
			<a href="#" class="btn btn-primary" onclick="javascript:$('#modifica-spesa-form').submit();">Applica</a>
		</div>
	</div>
	<!-- /.Modale Modifica Elemento -->
	
{% include '../footer.html' %}

<!-- Datepicker -->
<link type="text/css" href="../static/css/datepicker-cosmo.css" rel="stylesheet" />
<script type="text/javascript" src="../static/js/datepicker/bootstrap-datepicker-cosmo.js"></script>
<script type="text/javascript" src="../static/js/datepicker/bootstrap-datepicker.it.js"></script>
<!-- /.Datepicker -->
<!-- Validation -->
<script type="text/javascript" src="../static/js/validation/jquery.validate.js"></script>
<!-- ./Validation -->
<!-- JqPlot -->
<script type="text/javascript" src="../static/js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.pointLabels.min.js"></script>
<script type="text/javascript" src="../static/js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<link type="text/css" href="../static/css/jquery.jqplot.css" rel="stylesheet"/>
<!-- /.JqPlot -->

<script type="text/javascript" src="../static/js/viewstat/viewstat.js"></script>
<script>
	$(document).ready(function(){
		vsjs = new ViewStat();
		vsjs.setYear({{anno}})
	});
</script>
